body {
  background: #81b4ee;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}
.container {
  max-width: 400px;
}
.icon {
  position: relative;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  top: -50px;
}
